.icon {
  display: inline-block;
  height: calc(5 * var(--basis)) !important;
  width: calc(5 * var(--basis)) !important;
  border-radius: 100px;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  margin-right: var(--basis);
  box-shadow: var(--image-frame-line);
  flex-shrink: 0;
}
.name {
  vertical-align: middle;
  font-weight: bold;
  font-size: calc(3.5 * var(--basis));

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
