.icon {
  display: inline-block;
  height: calc(var(--font-add) + var(--basis));
  width: calc(var(--font-add) + var(--basis));
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  margin-right: var(--basis);
  flex-shrink: 0;
}
.title {
  vertical-align: middle;
  font-weight: bold;
}
