.icon {
  display: inline-block;
  height: var(--body-font-size) !important;
  width: var(--body-font-size) !important;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  margin-right: calc(0.5 * var(--body-font-size));
  flex-shrink: 0;
}
.icon.square {
  border-radius: 0px;
}
.icon.round {
  border-radius: 100px;
  box-shadow: var(--image-frame-line);
}
.title {
  vertical-align: middle;
  font-weight: bold;
  font-size: calc(0.9 * var(--body-font-size));

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
