.coverphoto {
  display: block;
  height: var(--basis_x16);
  width: var(--basis_x64);
  max-width: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: var(--basis);
}

.icon {
  display: inline-block;
  height: var(--body-font-size) !important;
  width: var(--body-font-size) !important;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  margin-right: var(--basis);
  flex-shrink: 0;
}
.icon.square {
  border-radius: 0px;
}
.icon.round {
  border-radius: 100px;
  box-shadow: var(--image-frame-line);
}
.title {
  vertical-align: middle;
  font-weight: bold;
  line-height: 1;
  font-size: calc(0.9 * var(--body-font-size));
}
