.coverphoto {
  position: relative;
  width: 100%;
  background-color: var(--background-contrast);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: var(--basis_x4);

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  height: 20rem;
}
@media (max-width: 1000px) {
  .coverphoto{
    height: 16rem;
  }
}
@media (max-width: 800px) {
  .coverphoto{
    height: 10rem;
  }
}
@media (max-width: 500px) {
  .coverphoto{
    height: 7rem;
  }
}

.coverphoto.no_image {
  height: auto;
  background-color: transparent;

  justify-content: center;
}

/*
@media (any-hover: hover) {
  .changeCoverphotoButton {
    opacity: 0.1;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
  .coverphoto.no_image .changeCoverphotoButton,
  .coverphoto:hover .changeCoverphotoButton {
    opacity: 1;
  }
}
*/
