.root {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.root.iconIsSet.coverphotoIsSet {
  margin-top: calc(-32 * var(--basis)) !important;
}
.root.iconIsSet {
  margin-bottom: var(--basis_x16);
}

.icon {
  position: relative;
  /* background-color: var(--background-contrast); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 1000px;
  margin-bottom: calc(-16 * var(--basis));

  --icon-size: calc(64 * var(--basis));
  width: var(--icon-size);
  height: var(--icon-size);
}
/*
.icon:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../../images/profile_frame.png);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}
*/
@media (max-width: 1000px) {
  .icon{
    --icon-size: calc(56 * var(--basis));
  }
  .root.iconIsSet.coverphotoIsSet{
    margin-top: calc(-26 * var(--basis)) !important;
  }
}
@media (max-width: 800px) {
  .icon{
    --icon-size: calc(48 * var(--basis));
  }
  .root.iconIsSet.coverphotoIsSet{
    margin-top: calc(-17 * var(--basis)) !important;
  }
}
@media (max-width: 500px) {
  .icon{
    --icon-size: calc(40 * var(--basis));
  }
  .root.iconIsSet.coverphotoIsSet{
    margin-top: calc(-13 * var(--basis)) !important;
  }
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sizing_pixel {
  width: 100%;
  height: auto;
}

.root.iconIsNotSet .icon {
  height: auto;
  background-color: transparent;
  display: none;
}

@media (any-hover: hover) {
  @media (min-width: 800px) {
    .changeIconButton {
      opacity: 0;
      transition: transform var(--timing), opacity var(--timing);
    }
    .root.iconIsNotSet .changeIconButton,
    .iconWrapper:hover .changeIconButton {
      opacity: 1;
    }
  }
}
