.input_with_local {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  gap: var(--basis);
}
@media (max-width: 800px) {
  .input_with_local {
    flex-direction: column;
    align-items: stretch;
    gap: var(--basis_x0_2);
  }
}
