.main_headline {
  width: 1000px;
  max-width: calc(100% - var(--basis));
  margin: var(--basis_x8) auto;
}
@media (max-width: 1000px) {
  .main_headline {
    width: 100%;
    max-width: calc(100% - var(--basis));
    margin: var(--basis_x8) auto;
  }
}

.propertiesFrame {
  background: var(--background-contrast);
  color: var(--on-background-rgb);
  padding: var(--basis_x4);
  border-radius: var(--basis_x2);

  width: calc(1000px - calc(8 * var(--basis)));
  max-width: calc(100% - calc(8 * var(--basis)));
  margin: 0 auto;
  transform: translate3d(calc(4 * var(--basis)), 0, 0);
}

.properties_row {
  width: 100%;
}
.properties_row:first-of-type > h3 {
  margin-top: 0;
}

@media (min-width: 800px) {
  .properties_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: var(--basis_x4);
  }
  .properties_row:last-child {
    margin-bottom: 0;
  }
  .properties_row > * {
    flex: 1;
  }
  .properties_row:first-of-type > h3,
  .properties_row > h3 {
    max-width: 200px;
    margin: var(--basis) var(--basis_x2) 0 0;
  }
}
