.main_headline {
  width: calc(1000px + var(--basis_x8));
  maxWidth: calc(100% - var(--basis));
  margin: var(--basis_x8) auto;
}
@media (max-width: 1075px) {
  .main_headline {
    width: 100%;
    maxWidth: calc(100% - var(--basis));
    margin: var(--basis_x8) auto;
  }
}

.propertiesFrame {
  background: rgba(var(--on-background-rgb), 0.1);
  color: var(--on-background-rgb);
  padding: var(--basis_x4);

  width: 1000px;
  max-width: calc(100% - var(--basis_x8));
  margin: 0 auto;
}

.properties_row {
  width: 100%;
}
.properties_row:first-of-type > h3 {
  margin-top: 0;
}

@media (min-width: 800px) {
  .properties_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: var(--basis_x4);
  }
  .properties_row:last-child {
    margin-bottom: 0;
  }
  .properties_row > * {
    flex: 1;
  }
  .properties_row:first-of-type > h3,
  .properties_row > h3 {
    max-width: 200px;
    margin: var(--basis) var(--basis_x2) 0 0;
  }
}
