.dialog {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  width: 700px;
  max-width: calc(100% - var(--basis_x8));
  max-height: calc(100% - var(--basis_x8));

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  padding: var(--basis_x8);
  background: var(--background);
  margin-bottom: var(--basis_x8);

  box-shadow:
    0 var(--basis_x16) var(--basis_x32) var(--shadow-color-rgba),
    0 var(--basis_x8) var(--basis_x16) var(--shadow-color-rgba),
    0 var(--basis_x2) var(--basis_x4) var(--shadow-color-rgba),
    0 0 var(--basis_x0_5) var(--shadow-color-rgba);
  border-radius: var(--basis_x2);
}
@media (max-width: 700px) {
  .dialog {
    padding: var(--basis_x4);
  }
}
.dialog h1 {
  margin: 0 0 var(--basis_x4) 0;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(var(--background-contrast-rgb), 0.6);
  cursor: pointer;
}

.dialog h1 {
  display: inline-block;
}

.inputWrapper {
  display: flex;
  align-items: center;
}
.inputWrapper .input {
  flex-grow: 1;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
