.chooser {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chooser input[type=text] {
  flex-grow: 1;
  min-width: 0;
}
.chooser.hideSubmitButton input[type=text] {
  margin-right: 0;
}

.chooser button {
  margin-right: 0;
}

@media (max-width: 600px) {
  .chooser .domainPrefix{
    display: none;
  }
  .chooser input[type=text] {
    margin-left: 0;
  }
}
