.chooserInput {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chooserInput input[type=text] {
  flex-grow: 1;
  min-width: 0;
}
.chooserInput.hideSubmitButton input[type=text] {
  margin-right: 0;
}

.chooserInput button {
  margin-right: 0;
}

@media (max-width: 600px) {
  .chooserInput .domainPrefix{
    display: none;
  }
  .chooserInput input[type=text] {
    margin-left: 0;
  }
}
