.editor {
  transition: opacity .2s ease;
}
.editor.loadingContent {
  opacity: 0.5;
  pointer-events: none;
}

.editor .item {
  background: var(--background-contrast);
  color: var(--on-background);
  padding: var(--basis_x2);
  max-width: calc(100% - calc(var(--basis_x16) + calc(var(--basis_x2) + var(--basis))));
}

.editor .item.chooseTypeScreen{
  text-align: center;
  padding: var(--basis_x4) var(--basis_x2);
}
