.editor {
  transition: opacity .2s ease;
}
.editor.loadingContent {
  opacity: 0.5;
  pointer-events: none;
}



@media (min-width: 800px) {
  .columns {
    display: flex;
    gap: var(--basis_x4);
  }
  .columns .column {
    width: 50%;
  }
}

