.input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input input[type=url] {
  flex-grow: 1;
  min-width: 0;
  margin-left: 0;
}
.input.hideSubmitButton input[type=url] {
  margin-right: 0;
}

.input button {
  margin-right: 0;
}
