.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  padding: var(--basis_x4);
  min-height: 80vh;

  background: var(--background);
  color: var(--on-background);
}
