.blockRow {
  position: relative;
}
.blockRowActions {
  display: flex;
  align-items: stretch;
}
@media (any-hover: hover) {
  @media (min-width: 1200px) {
    .blockRow .blockRowActions {
      display: none;
    }
    .blockRow.fakeHover .blockRowActions,
    .blockRow:hover .blockRowActions {
      display: flex;
      align-items: stretch;
    }
  }
}

/*
.blockRow:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: var(--basis);
  background: red;
}
*/
