.rebuild_textarea {
  white-space: pre-wrap;
  display: inline-block;
}

.rebuild_textarea.show_placeholder:before {
  position: absolute;
  content: attr(placeholder);
  opacity: 0.5;
  color: inherit;
  cursor: text;
}
