.rebuild_textarea {
  display: block;
  white-space: pre-wrap;
  word-break: break-word;
}

.rebuild_textarea.show_placeholder:before {
  position: absolute;
  content: attr(placeholder);
  opacity: 0.5;
  color: inherit;
  cursor: text;
}
