.input_with_local {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
@media (max-width: 1000px) {
  .input_with_local {
    flex-direction: column;
    align-items: stretch;
  }
}
