.root {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.card {
  padding: var(--basis_x2);
  margin: var(--basis_x2) 0;
  background: var(--background-contrast);
  color: var(--on-background-contrast);
}
