.dialogsWrapper {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  width: auto;
  max-width: 100%;
  max-height: calc(100% - var(--basis_x8));
  padding-top: var(--basis_x8);

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.dialog {
  padding: var(--basis_x8);
  background: var(--background);
  margin-bottom: var(--basis_x8);
  /* box-shadow: var(--basis_x2) var(--basis_x2) 0 0 var(--on-background); */
}
@media (max-width: 600px) {
  .dialog {
    padding: var(--basis_x4);
  }
}
.dialog h1 {
  margin: 0 0 var(--basis_x4) 0;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(var(--background-contrast-rgb), 0.6);
  cursor: pointer;
}

.dialog h1 {
  display: inline-block;
}

.inputWrapper {
  display: flex;
  align-items: flex-start;
}
.inputWrapper .emailInput {
  flex-grow: 1;
}

.permissionRow {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: var(--basis) 0;
}

.menuButton {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: var(--basis);
}
.permissionRow .ownerInfo {
  opacity: 0.6;
  --button-background: transparent;
  --button-color: var(--on-background);
  padding-right: 0;
  padding-left: 0;
}
.permissionRow .menuButton,
.permissionRow .ownerInfo {
  margin: 0 0 0 var(--basis);
}

.actions {
  display: flex;
  justify-content: flex-end;
}
