.content {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: var(--basis_x4);
}

.header {
  z-index: 2;
  position: sticky;

  --minus_basis_x4: calc(-1 * var(--basis_x4));
  margin: var(--minus_basis_x4) var(--minus_basis_x4) var(--basis_x4) var(--minus_basis_x4);
  top: 0;

  background: var(--background-contrast);
  color: var(--on-background);
}
/*
@supports(backdrop-filter: blur(var(--blur))) {
  .header {
    background: rgba(var(--background-rgb), var(--alpha-more));
    backdrop-filter: blur(var(--blur));
  }
}
*/
@media (max-width: 1000px) {
  .header {
    --minus_basis_x2: calc(-1 * var(--basis_x2));
    --minus_basis_x4: calc(-1 * var(--basis_x4));
    margin: var(--minus_basis_x4) var(--minus_basis_x2) var(--basis_x4) var(--minus_basis_x2);
  }
}



.header .headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--basis_x2) var(--basis_x4);
  gap: var(--basis_x4);

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 1000px) {
  .header .headerBar {
    padding: var(--basis_x2);
  }
}
.header .headerBar button{
  margin-top: 0;
  margin-bottom: 0;
}

.scrollContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

h2 {
  display: flex;
  align-items: center;
  gap: var(--basis_x2);
}
h2 .emoji {
  width: calc(6 * var(--basis));
  height: calc(6 * var(--basis));
}
