.scrollContainer > .content {
  width: 2000px;
  max-width: 100%;
  margin: 0 auto;
  padding: var(--basis_x4);
}
@media (max-width: 2000px) {
  .scrollContainer > .content {
    width: 1500px;
  }
}
@media (max-width: 1500px) {
  .scrollContainer > .content {
    width: 1200px;
  }
}

.header {
  z-index: 2;
  position: sticky;

  --minus_basis_x4: calc(-1 * var(--basis_x4));
  margin: var(--minus_basis_x4) var(--minus_basis_x4) var(--basis_x4) var(--minus_basis_x4);
  top: 0;

  background: var(--background-contrast);
  color: var(--on-background);
}
/*
@supports(backdrop-filter: blur(var(--blur))) {
  .header {
    background: rgba(var(--background-rgb), var(--alpha-more));
    backdrop-filter: blur(var(--blur));
  }
}
*/
@media (max-width: 1000px) {
  .header {
    --minus_basis_x2: calc(-1 * var(--basis_x2));
    --minus_basis_x4: calc(-1 * var(--basis_x4));
    margin: var(--minus_basis_x4) var(--minus_basis_x2) var(--basis_x4) var(--minus_basis_x2);
  }
}



.header .headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--basis_x2) var(--basis_x4);
  gap: var(--basis_x4);

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 1000px) {
  .header .headerBar {
    padding: var(--basis_x2);
  }
}
.header .headerBar button{
  margin-top: 0;
  margin-bottom: 0;
}

.scrollContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

h2 {
  display: flex;
  align-items: center;
  gap: var(--basis_x2);
}
h2 .emoji {
  width: calc(6 * var(--basis));
  height: calc(6 * var(--basis));
}

.blockRow {
  position: relative;
}
.blockRowActions {
  display: flex;
  align-items: stretch;
}
@media (any-hover: hover) {
  @media (min-width: 1200px) {
    .blockRow .blockRowActions {
      display: none;
    }
    .blockRow.fakeHover .blockRowActions,
    .blockRow:hover .blockRowActions {
      display: flex;
      align-items: stretch;
    }
  }
}

.startpage_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;

  gap: var(--basis_x4);
  padding-bottom: var(--basis_x64);
}

.startpage_cards .card {
  /* justify-self: start; */
  align-self: start;

  background: rgba(var(--background-rgb),var(--alpha));
  box-shadow: inset 0 0 0 1px rgba(var(--background-rgb),var(--alpha-more));

  border-radius: var(--basis_x2);

  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
}
@media (prefers-color-scheme: dark) {
  .startpage_cards .card {
    background: rgba(var(--on-background-contrast-rgb),var(--alpha-less));
    box-shadow: inset 0 0 0 1px rgba(var(--on-background-contrast-rgb),var(--alpha-less));
  }
}
.startpage_cards .card .content {
  padding: 0;
  margin: var(--basis_x4);
}


.startpage_cards .card.full_width {
  grid-column-start: 1;
  grid-column-end: 5;
}
@media (max-width: 1500px) {
  .startpage_cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .startpage_cards .card.full_width {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
@media (max-width: 1000px) {
  .startpage_cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .startpage_cards .card.full_width {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 700px) {
  .startpage_cards {
    grid-template-columns: 1fr;
  }
  .startpage_cards .card.full_width {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.startpage_cards.oneColumn {
  grid-template-columns: 1fr;
  margin: calc(-1 * var(--basis_x4));
}
.startpage_cards.oneColumn .card {
  border-radius: 0;
}
.startpage_cards.oneColumn .card.full_width {
  grid-column-start: 1;
  grid-column-end: 2;
}
