.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  min-height: 100vh;
}
.app.spine_aligned {
  text-align: unset;
  align-items: flex-start;
}
.app.spine_aligned:dir(rtl) {
  align-items: flex-start;
}

.app .contentWrapper{
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .app .contentWrapper{
    width: 100%;
  }
}

.editor {
  min-height: 100vh;
  padding: var(--basis_x4);
  transition: opacity var(--timing);
}
.editor.type_redirect {
  --bg-color: var(--background);
	--dot-color: var(--background-contrast);

	--dot-size: 0.11rem;
	--dot-space: calc(4 * var(--basis));

	background: linear-gradient(90deg, var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center, linear-gradient(var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center, var(--dot-color);
	background-position: top center;
	background-size: var(--dot-space) var(--dot-space);
  /* background-attachment: fixed; */
}
.editor.loadingContent {
  opacity: 0.5;
  pointer-events: none;
}

@media (min-width: 800px) {
  .editor_form_row {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--basis_x8);
  }
  .editor_form_row > * {
    flex: 1;
  }
  .editor_form_row > h3 {
    max-width: 200px;
    margin: 0;
    margin-right: var(--basis_x2);
  }
}
